.about-me {
    background-color: #F6F6F6;
    text-align: center;
    padding: 120px 0 107px 0;
    .title {
        padding-bottom: 30px;
    }
    .first-title {
        padding: 5px;
        div {
            padding-bottom: 50px;
            &:last-child {
                padding: 0;
            }
        }
    }
    @include _767 {
        padding: 81px 0 76px 0;
    }
}